.transfer-button {
  margin: 1em 0;
  width: 10em;
}

.transfer-button__container {
  margin-top: 1.1em;
  width: 100%;
}

.animated::-webkit-progress-value {
  transition: width 500ms;
  background-color: blue;
}
.animated::-moz-progress-bar {
  transition: padding-bottom 1s;
  padding-left: 60px;
  padding-bottom: var(--value);
  background-color: blue;
  height: 0;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-60px);
}
.animated::-ms-fill {
  background-color: blue;
  border: 0;
}

.progress-bar {
  border: 1px solid #919191;
}
