@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$blue: #485fc7;
$cyan: #3e8ed0;
$green: #3fa85a;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
$grey-dark: #232325;
$grey-light: $beige-light;
$primary: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #eff2f3;
$input-border-color: #b1b1b1;
$input-hover-border-color: $cyan;

// Import only necessary Bulma classes
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/notification.sass';
@import 'bulma/sass/elements/other.sass';
@import 'bulma/sass/elements/progress.sass';
@import 'bulma/sass/components/level.sass';
@import 'bulma/sass/form/shared.sass';
@import 'bulma/sass/form/select.sass';
@import 'bulma/sass/helpers/typography.sass';

// Import app-specific scss
@import './Animation.scss';
@import './components/ConfigButton.scss';
@import './components/CurseForgeBrowser.scss';
@import './components/TransferOption.scss';
@import './components/TransferFiles.scss';
@import './components/TransferButton.scss';

html,
body {
  width: 100%;
}

.route {
  max-width: 680px;
  width: 100%;
  margin: 1em auto;
  padding: 0 0.6em;
}

.flex-align {
  display: flex;
  align-items: center;
  flex-flow: row;
}

.error {
  margin-top: 0.2em;
  color: red;
}
