@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html,
body {
  width: 100%;
}

// Import only what you need from Bulma
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/notification.sass';
@import 'bulma/sass/elements/other.sass';
@import 'bulma/sass/components/level.sass';
@import 'bulma/sass/form/shared.sass';
@import 'bulma/sass/form/select.sass';
@import 'bulma/sass/helpers/typography.sass';

// Import app-specific scss
@import './Animation.scss';
@import './components/ConfigButton.scss';
@import './components/CurseForgeBrowser.scss';
@import './components/TransferOption.scss';

.route {
  max-width: 680px;
  width: 100%;
  margin: 1em auto;
  padding: 0 0.6em;
}

.flex-align {
  display: flex;
  align-items: center;
  flex-flow: row;
}

.error {
  margin-top: 0.2em;
  color: red;
}
